div{
  
  display: flex;
  flex-direction: row;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  justify-items: center;
  background-color: rgb(113, 142, 142);
  padding: 20px;
  font-size: large;
  font-weight: bold;
  justify-items: center;
}